In [36]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns

In [51]:
evn = pd.read_csv("../Data/yerevan_houses.csv")
evn.head()

,Unnamed: 0,price,condition,district,max_floor,street,num_rooms,region,area,url,num_bathrooms,building_type,floor,ceiling_height
0,0,65000.0,good,Center,9,Vardanants St,3,Yerevan,80.0,http://www.myrealty.am/en/item/24032/3-senyaka...,1,panel,4,2.8
1,1,140000.0,newly repaired,Arabkir,10,Hr.Kochar St,4,Yerevan,115.0,http://www.myrealty.am/en/item/17599/4-senyaka...,1,monolit,2,3.0
2,2,97000.0,newly repaired,Center,10,Teryan St,2,Yerevan,72.0,http://www.myrealty.am/en/item/29472/2-senyaka...,1,panel,3,2.8
3,3,47000.0,good,Center,9,D. Demirchyan St,1,Yerevan,43.0,http://www.myrealty.am/en/item/37186/1-senyaka...,1,panel,9,2.8
4,4,51000.0,newly repaired,Center,14,Sayat Nova Ave,1,Yerevan,33.0,http://www.myrealty.am/en/item/37184/1-senyaka...,1,other,4,2.8

#### Get rid of Unnamed:0 column

#### Catch the NaN values and try to handle them. Possible treatments could be:

* dropping the records containing NaN values
* filling the NaN values with something meaningfull

#### Find out existing correlations with "price" column. Plot the heatmap.

#### Try doing some bivariate analysis for "price" column. <br> For numerical columns you can use jointplot and pairplot, for numerical columns try to make catplots (barplots, countplots, boxplots including).  Use categorical features as hue parameter in pairplots. Include some notes and conclusions you make upon all of these accordingly. For example, do you notice a common pattern between "price" and "district"? Or how does the number of rooms affect on the house price, etc.

#### Write code which plots distplots of all numeric columns in a loop.

#### Plot boxplot and barplot couples as subplots for all categorical columns vs "price" in a loop. <br> Use tight layout to avoid overlapping. Use ```fig, axes = plt.subplots(nrows, ncols)```

#### **Bonus: Try to visualize the street occurencies in this dataframe on map. Just checking googling skills :)